<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все люди</title>
</head>
<body>
<div th:each="person : ${people}">  <!-- подобие цикла по массиву ${people}, где "person" - временная переменная-->
    <!-- th:text - будет вставлять текст вместо поля "user"
    @{/people/{id} - указываем ссылку на страницу. По сути, заходит через контроллер.
    (id=${person.getId()}) - получаем ID для ссылки   -->
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}">user</a>
</div>

</body>
</html>